# Ignore dataset
diabetes-re/
diabetic retinopathy/

# Ignore model weights
*.pth
*.pt
*.h5

# Python cache & virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.venv/
env/
venv/
tenv/

# IDE configurations
.vscode/
.idea/
.system_generated/
*.log

# Next.js / Node
node_modules/
.next/
out/
.env*.local
dist/

